/.metadata
/.git
/backend/.metadata/
/backend/crimealert/Login/target
/backend/crimealert/Login/.settings
/backend/crimealert/.settings
/backend/crimealert/.project
/backend/crimealert/Login/.classpath
/backend/crimealert/Login/.project