.header {
  color: #26a69a;
  height: 8vh;
  margin-left: 1em;
  align-items: center;
  padding: 2vh 0;
}
.logo {
  float: left;
  height: 60px;
  padding-right: 5px;
}
.title {
  margin: 0px;
  padding: 10px 0px;
}
